<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Css/General.Styles.css" />
    <script
      type="text/javascript"
      src="../LoginAndRegisterPages/Index.Login.Page.Logic.js"
    ></script>
    <script
      type="text/javascript"
      src="../GlobalFunctions/Global.Functios.A&L.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/chart.js"
    ></script>
    <script type="text/javascript" src="./Dashboard.charts.js"></script>
    <title>Login Page</title>
  </head>

  <body>
    <div class="father-login-container-al">
      <div class="login-white-container-al change-color-0">
        <div class="main-header-container-al">
          <div class="header-logo"></div>
          <h1 class="title-user">Bienvenido!</h1>
        </div>
      </div>
      <div class="dashboard-container-al">
        <nav class="main-nav-container-al"></nav>
        <div class="main-dashboar-al">
          <div class="importer-request">
            <h1>Solicitud de carga</h1>
            <form>
              <!--Tipo de carga-->
              <label for="select-type-shippment"
                >Seleccione el tipo de carga:</label
              >
              <select name="type-of-shippment" id="select-type-shippment">
                <option value="0">CARGA_GENERAL</option>
                <option value="1">REFRIGERADO</option>
                <option value="2">CARGA_PELIGROSA</option>
                <option value="X" selected>-tipos de carga-</option>
              </select>
              <!--Tipo de carga-->

              <br />
              <!--Cantidad de contenedores-->
              <label for="input-quantity-containers"
                >Cantidad de contenedores:</label
              >
              <input type="text" id="input-quantity-containers" />
              <!--Cantidad de contenedores-->

              <br />
              <!--Puerto de origen-->
              <label for="input-origin-port"
                >Ingrese el puerto de origen:</label
              >
              <input type="text" id="input-origin-port" maxlength="3" />
              <!--Puerto de origen-->
              <br />
              <!--Descripción de la mercaderia-->
              <label for="input-shippment-description"
                >Descripción de la mercadería:</label
              >

              <textarea
                name="shippment-description"
                id="input-shippment-description"
              ></textarea>
              <!--Descripción de la mercaderia-->
              <br />
              <br />
              <input
                type="button"
                value="Crear solicitud de carga"
                id="send-shippment-request"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
