<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../Css/General.Styles.css" />
  <!-- <script type="text/javascript" src="../LoginAndRegisterPages/Index.Login.Page.Logic.js"></script>
  <script type="text/javascript" src="../GlobalFunctions/Global.Functios.A&L.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script type="text/javascript" src="./Dashboard.charts.js"></script> -->
  <title>Login Page</title>
</head>

<body>
  <div class="father-login-container-al">
    <div class="login-white-container-al change-color-0">
      <div class="main-header-container-al">
        <h1 class="header-logo">A&L</h1>
        <h2 class="title-user">
          <span>Bienvenido Importador:</span>
          <span>Lucas Ex</span>
        </h2>
      </div>
    </div>
    <div class="dashboard-container-al">
      <nav class="main-nav-container-al"></nav>
      <div class="main-dashboar-al">
        <!--Inicio Tabla maestro-->
        <!--F10 – manifiestoDeCarga-->

        <div id="show-table-manifest" class="table-container">
          <main class="main-table-manifest">
            <div class="first-manifest-container">
              <h2 class="table-title">Solicitudes Pendientes:</h2>
              <div class="sub-manifest-container">
                <p class="description-manifest">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet aut
                  commodi accusamus tempora, eveniet
                  illum vero quisquam animi voluptatem. Fuga, blanditiis explicabo! Vitae cum, sit quo magni eveniet
                  natus
                  saepe!</p>
                <table class="titles-table-manifest">
                  <thead class="thead-manifest">
                    <th class="column-manifest">Tipo de carga</th>
                    <th class="column-manifest">Descripción</th>
                    <th class="column-manifest">Origen</th>                    
                    <th class="column-manifest">Cantidad de contenedores</th>
                  </thead>
                </table>
              </div>
            </div>
            <div class="second-manifest-container">
              <table class="titles-table-manifest body-table-manifest body-table-delete">
                <tbody class="thead-manifest tbody-manifest">                  
                  <tr>
                    <td class="column-manifest-td column-delete">ELIMINAR</td>
                    <td class="column-manifest-td">CARGA GENERAL</td>
                    <td class="column-manifest-td">Lorem ipsum dolor sit amet consectetur adipisicing elit. At hic unde labore.</td>
                    <td class="column-manifest-td">Los dedos</td>                    
                    <td class="column-manifest-td">6</td>
                  </tr>
                  <tr>
                    <td class="column-manifest-td column-delete">ELIMINAR</td>
                    <td class="column-manifest-td">REFRIGERADO</td>                    
                    <td class="column-manifest-td">Lorem ipsum dolor sit amet consectetur adipisicing elit. At hic unde labore.</td>
                    <td class="column-manifest-td">Punta del Dedo Este</td>
                    <td class="column-manifest-td">1</td>
                  </tr>
                  <tr>
                    <td class="column-manifest-td column-delete">ELIMINAR</td>
                    <td class="column-manifest-td">CARGA PELIGROSA</td>                    
                    <td class="column-manifest-td">Lorem ipsum dolor sit amet consectetur adipisicing elit. At hic unde labore.</td>
                    <td class="column-manifest-td">Punta del Dedo Este</td>
                    <td class="column-manifest-td">9</td>
                  </tr>
                  <tr>
                    <td class="column-manifest-td column-delete">ELIMINAR</td>
                    <td class="column-manifest-td">CARGA PELIGROSA</td>                    
                    <td class="column-manifest-td">Lorem ipsum dolor sit amet consectetur adipisicing elit. At hic unde labore.</td>
                    <td class="column-manifest-td">Esta de la punta</td>
                    <td class="column-manifest-td">10</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</body>

</html>