body {
    margin: 0px;
    background-color: #ff9df3;
}

/* 
pink:#ff9df3
sky-blue:#9ddeff
*/


/*INICIO Login Page INICIO*/

.father-login-container-al {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*Header*/
.login-white-container-al {
    background-color: #ff9df3;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-header-container-al {
    justify-content: space-between;
    width: 100%;
    display: flex;
    background-color: #ffffff45;
    border-radius: 2px;
    margin-bottom: 6px;
}

.title-user {
    margin: 0px;
}

/*Column Right LOGIN*/
.login-container-al {
    width: 100%;
    display: flex;

    background-color: #ff9df3;
    justify-content: flex-end;
}

.main-login-container-al {
    display: flex;
    width: 35%;
    background-color: #ffffff45;
    border-radius: 30px 0 0 0;
    height: 100vh;
}

/*Main FORM*/
.main-form-container-al,
.main-form-container-al {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.login-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 4% 0 6%;
    color: #ffffffe6;
}

.general-input {
    height: 60px;
    border: 0px;
    font-size: 18px;
    outline: none;
    border-radius: 4px;
    background-color: #ff9df3;
    margin-bottom: 5%;
    padding-left: 50px;
    color: #ffffffe6;
}

.general-input::placeholder {
    color: #ffffffe6;
}

.span-text-login {
    font-size: 8px;
    text-align: center;
    padding: 0px 25px;
    color: #ff9df3;
    margin-bottom: 10%;
}

.button-login {
    height: 60px;
    border: 0px;
    font-size: 21px;
    font-weight: bold;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 4%;
    background-color: #ffffffe6;
    color: #ff9df3;
}

.select-account-login {
    cursor: pointer;
    height: 40px;
    border: 0px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    outline: none;
    font-weight: 500;
    margin-bottom: 10%;
}

/*Login Register Buttons Top*/
.login-register-link {
    display: none;
    justify-content: flex-end;
}

.show-link-2 {
    display: flex;
}

.go-to-login-page {
    color: #ffffffe6;
    cursor: pointer;
    background-color: #9ddeff;
    border-radius: 6px 0px 0px;
    padding: 2px 0 2px 5px;
}

.go-to-register-page {
    color: #ffffffe6;
    background-color: #9ddeff;
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 0px 6px 0px 0px;
}

/*Login Register Buttons Top*/

/*Register Page IMPORTADOR*/
.is-color-sky-blue,
.register-blue-button {
    color: #9ddeff;
}

.register-blue {
    background-color: #9ddeff;
}

.general-display {
    display: flex;
    flex-direction: column;
}

.main-register-al {
    display: none;
    flex-direction: column;
}

/*Register Page IMPORTDOR*/

/*FIN Login Page FIN*/

/*INICIO Dashboard Pge INICIO*/

.main-nav-container-al {
    display: flex;
    width: 25%;
    border-radius: 0 30px 0 0;
    background-color: #ffffff45;
    height: 100vh;
    flex-direction: column;
}


.dashboard-container-al {
    width: 100%;
    display: flex;

    background-color: #ff9df3;
}

.main-dashboar-al {
    display: flex;
    width: 75%;
    justify-content: center;
}

.table-container {
    display: flex;
    width: 99%;
    background: linear-gradient(180deg, rgb(255 255 255 / 27%) 0%, rgba(255, 255, 255, 0) 88%);
    border-radius: 30px 30px 0 0;
}

/*Table manifest*/
.main-table-manifest {
    display: flex;
    flex-direction: column;
    padding: 1% 2% 0;
}

.first-manifest-container {
    display: flex;
    flex-direction: column;
}

.sub-manifest-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px dotted #00000038;
}

.description-manifest {
    margin: 0px;
    width: 30%;
    font-size: 12px;
    line-height: 15px;
    padding: 10px 5px;
    color: #ffffffde;
}

.titles-table-manifest {
    display: flex;
    align-items: flex-end;
    width: 92%;
}

.table-title {
    color: #ffffffde;
    font-size: 20px;
}

.column-manifest {
    background-color: #00000038;
    padding: 12px 2px;
    width: 10%;
    border-radius: 18px 18px 0px 0px;
    color: #ffffffde;
}

.thead-manifest {
    width: 100%;
    margin-bottom: 28px;
}

.tbody-manifest {
    margin: 0px;
    margin-top: 10px;
}

.column-manifest-td {
    background: radial-gradient(circle, rgb(0 0 0 / 20%) 50%, rgba(161, 24, 52, 0) 100%);
    width: 20%;
    text-align: center;
    padding: 18px 10px;
    color: #ffffffde;
}


.second-manifest-container {
    display: flex;
    justify-content: flex-end;
}

.body-table-manifest {
    width: 75%;
}

/*Header Styles*/
.title-user {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 14px;
    font-weight: 400;
}

.button-loggout-now {
    display: none;
    justify-content: center;
    align-items: center;
    width: 1005;
    background-color: #ff2b2b;
    margin-left: 53px;
    font-weight: bold;
    border-radius: 0px 30px 30px 0px;
}

.button-header-loggout {
    display: none;
    width: 53;
    height: 44px;
    position: absolute;
    left: 10px;
    transition: width 1s;
    z-index: 9999;
    background-color: #ffffff3d;
    border-radius: 0px 30px 30px 0px;
}

.header-logo {
    transform: rotate(180deg);
    margin: 0px;
    font-size: 20px;
    letter-spacing: -4px;
    padding: 10px;
    background-color: #ffffff3d;
    text-align: center;
    margin-right: 10px;
    cursor: none;
    z-index: 9980;
}

.button-header-loggout:hover {
    width: 250px;
}

@keyframes newLoggout {
    from {
        visibility: hidden;
        opacity: 0;
        display: none;
    }

    to {
        visibility: visible;
        opacity: 1;
        display: flex;    
    }
}

.button-header-loggout:hover .button-loggout-now {
    animation-name: newLoggout;
    animation-duration: 1.7s;
    display: flex;    
    cursor: pointer;
    color: #ffffff;
}

/*Extra css Third Class*/
.body-table-delete {
    width: 94%;
}

.column-delete {
    background: #bd000080;
    border-radius: 100px;
    color: #7c0000;
    font-size: 26px;
    padding: 0px;
    cursor: pointer;
}

.graphic-container {
    padding: 10px;
}

/*General class*/

.general-sky-blue {
    background-color: #9ddeff;
}

.label-big-al {
    color: #ffffffde;
    font-size: 16px;
    padding: 5px;
}

.display-flex-center {
    display: flex;
    justify-content: center;

}

.container-select-big-al {
    padding: 10px 0px;
}

.button-create-request {
    width: 100%;
    margin-top: 30px;
    padding: 18px 0px;
    font-size: 22px;
    border: 0px;
    border-radius: 6px;
    color: #ffffffde;
    background-color: #ffffff3d;
}

.column-rollover {
    background: #a000bd80;
    border-radius: 100px;
    color: #5a007c;
    font-size: 26px;
    padding: 0px;
    cursor: pointer;
}


.container-grafics {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 15px;
    border-radius: 20px;
    height: 100%;
}

.container-grafics:hover {
    background-color: #ffffff45;
}

.container-frafics-align {
    align-items: flex-start !important;
}

/*Calendar Styles*/

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: Verdana, sans-serif;
}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
    display: flex;
    justify-content: flex-start;
}

.weekdays li {
    display: inline-block;
    width: 100%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 14.2%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

.container-calendar-grafic-al {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container-calendar-grafic {
    width: 100% !important;
    margin: 10px 5px !important;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {

    .weekdays li,
    .days li {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {

    .weekdays li,
    .days li {
        width: 12.5%;
    }

    .days li .active {
        padding: 2px;
    }
}

@media screen and (max-width: 290px) {

    .weekdays li,
    .days li {
        width: 12.2%;
    }
}

/*Dashboard pink*/
.container-empresario-view {
    width: 50%;
}

/*FIN Dashboard Pge FIN*/

/*INICIO Header INICIO*/

.header-welcoome-user {
    font-weight: 600;
    font-size: 13px;
}

.header-user-name-al {
    color: #0000007d;
}

.container-header-left {
    display: flex;
    justify-content: flex-start;
    width: 20%;
    padding: 10px;
}

.container-header-button {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.header-button-create-al {
    width: 100%;
    background-color: #ff9df3;
    cursor: pointer;
    font-size: 12px;
    color: white;
    border: none;
    font-weight: bolder;
}

.container-general-title-page {
    display: flex;
    justify-content: center;
    background-color: #ff9df3;
    align-items: center;
    width: 66%;
    border-radius: 0 100px 0 100px;
}

.general-title-page {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}

/*FIN Header FIN*/

/*Styles*/

.background-tables-form {
    background-color: #ffffff45;
    border-radius: 30px 0 0 30px;
    padding: 10px;
}

/*Sky Blue Template*/

.dashboard-container-al-sky-blue {
    background-color: #9ddeff;
}

.container-backgroud-suplier {
    background-color: #ffffff45 !important;
    padding: 10px !important;
}

/*Nav Bar*/

.nav-create-new-trip {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 12%;
    cursor: pointer;
    align-items: center;
    padding: 10px;
    border-top: 2px solid #ffffff;
    border-top-right-radius: 30px;
}

.nav-create-new-trip:hover {
    background-color: #ff9df3;
}

.trip-sky-blue:hover {
    background-color: #9ddeff;
}

.generals-nav-link-title {
    color: #ffffff;
    padding: 0px 12px;
    font-weight: bold;
}

/*Informacion Estadistica*/

.p-description-informacion-estadistica {
    color: #282828de;
    text-align: center;
    margin: 2% 0 4%;
    font-size: 11px;
}

.text-title-grafics {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

/*Calendario*/

.container-big-grafic-al {
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

/*Lista de viajes*/

.fila-show-carga-peligrosa {
    cursor: pointer;
    height: 30px;
    transition: height 0.8s;
}

.fila-show-carga-peligrosa:hover {
    background-color: #9d2d8d;
    height: 45px;
}

/*Generals Inputs*/

.main-generals-inputs{
    height: 34px;
    margin-left: 5px;
    padding-left: 5px;
    font-size: 17px;
    border-radius: 8px;
    border: none;
    width: 100%;
    outline: none;
}

.seleccione-una-empresa{
    text-align: center;
}

.container-left-big-form,
.only-this-importador{
    width: 50%;
}

.only-this-importador{
    padding-left: 15px;
}

.only-this-importador #input-shippment-description{
    height: 300px;
    width: 100%;
    font-size: 28px;
    padding-top: 5px;
}

#input-request-search-button{
    width: 50%;
}

.select-pointer{
    cursor: pointer;
}

.rollover-de-carga-class{
    flex-direction: column;
    margin: 2% 0px;
}