.second-manifest-container {
    display: flex;
    justify-content: center;
    padding: 0px;
    background: transparent;
}

.body-table-manifest {
    width: 100%;
}

.column-manifest {
    background-color: #ffffff45;
    padding: 20px 2px;
    border-radius: 18px 18px 0px 0px;
}

.space-between-al {
    height: 6px;
}

.column-manifest-td {
    background: radial-gradient(circle, rgb(255 255 255 / 20%) 40%, rgb(255 255 255 / 4%) 100%);
    width: 20%;
    text-align: center;
    padding: 18px 10px;
    color: #ffffffde;
}

.div-title-table-al {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 30px 0 0 30px;
    background: linear-gradient(90deg, rgb(255 255 255 / 30%) 0%, rgb(255 255 255 / 4%) 70%);
}

.table-title {
    margin: 10px 0px 10px;
}

.first-manifest-container {
    margin-bottom: 20px;
}

/*PARA EL USUARIO TIPO EMPRESA 

.login-white-container-al,
.container-general-title-page,
.header-button-create-al,
.dashboard-container-al {
    background-color: #9ddeff;
} */