<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./Css/General.Styles.css" />
  <link rel="stylesheet" href="./Css/Main.Create.Request.css" />
  <link rel="stylesheet" href="./Css/Main.Manifest.Table.css" />
  <link rel="stylesheet" href="./Css/Main.Enable.Users.css" />
  <script type="text/javascript" src="./Extensiones/LoginAndRegisterPagesA&L/Index.Login.Page.Logic.js"></script>
  <script type="text/javascript" src="./Extensiones/GlobalFunctions/Global.Functios.A&L.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>Dashboard</title>
</head>

<body>
  <div class="father-login-container-al">
    <!--FINAL HEADER STYLE-->
    <div class="login-white-container-al change-color-0">
      <div class="main-header-container-al">
        <div class="container-header-left">
          <h1 class="header-logo">A&L</h1>
          <h2 class="title-user">
            <span class="header-welcoome-user">Bienvenido Importador:</span>
            <span class="header-user-name-al">Lucas Ex</span>
          </h2>
        </div>
        <div class="container-general-title-page">
          <span class="general-title-page">Habilitar Usuarios</span>
        </div>
        <div class="container-header-button">
          <button class="header-button-create-al">CREAR UNA SOLICITUD</button>
        </div>
      </div>
    </div>
    <!--FINAL HEADER STYLE-->

    <div class="dashboard-container-al">
      <nav class="main-nav-container-al"></nav>
      <div class="main-dashboar-al">

        <div id="show-table-manifest" class="table-container">
          <main class="main-table-manifest">
            <!--FINAL DESCRIPTION STYLES-->
            <div class="first-manifest-container">
              <h2 class="table-title">Descripción:</h2>
              <div class="sub-manifest-container">
                <p class="description-manifest">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet aut
                  commodi accusamus tempora, eveniet
                  illum vero quisquam animi voluptatem. Fuga, blanditiis explicabo! Vitae cum, sit quo magni eveniet
                  natus
                  saepe!</p>
              </div>
            </div>
            <!--FINAL DESCRIPTION STYLES-->
            <div class="container-user-available-al">
              <div class="user-container">
                <div class="user-container-top-al">
                  <div class="image-user-al"></div>
                  <h3>User PeDERE</h3>
                </div>
                <div class="user-information-al">
                  <span class="mini-title">Deshabilitado:</span>
                  <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, ipsum minima! Veritatis, mollitia
                    magnam! Sit incidunt nisi quaerat molestias nostrum tempore. Quis voluptas provident nam libero
                    atque distinctio ullam ipsa.</P>
                </div>
              </div>
              <div class="user-container">
                <div class="user-container-top-al">
                  <div class="image-user-al"></div>
                  <h3>User PeDERE</h3>
                </div>
                <div class="user-information-al">
                  <span class="mini-title">Deshabilitado:</span>
                  <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, ipsum minima! Veritatis, mollitia
                    magnam! Sit incidunt nisi quaerat molestias nostrum tempore. Quis voluptas provident nam libero
                    atque distinctio ullam ipsa.</P>
                </div>
              </div>
              <div class="user-container">
                <div class="user-container-top-al">
                  <div class="image-user-al"></div>
                  <h3>User PeDERE</h3>
                </div>
                <div class="user-information-al">
                  <span class="mini-title">Deshabilitado:</span>
                  <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, ipsum minima! Veritatis, mollitia
                    magnam! Sit incidunt nisi quaerat molestias nostrum tempore. Quis voluptas provident nam libero
                    atque distinctio ullam ipsa.</P>
                </div>
              </div>
            </div>

            <div class="container-user-available-al only-button-available">
              <div class="user-container button-enable-al">
                <input class="user-enable-button" data-userId="1" type="button" value="Habilitar">
              </div>
              <div class="user-container button-enable-al">
                <input class="user-enable-button" data-userId="2" type="button" value="Habilitar">
              </div>
              <div class="user-container button-enable-al">
                <input class="user-enable-button" data-userId="3" type="button" value="Habilitar">
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</body>

</html>